@model IPagedList<MediaContent>

@{
    ViewBag.Title = "Index";
}

<link href="~/Css/SkrollrGallery.css" rel="stylesheet" />


<header id="photoshop-gallery-header" class="photoshop-gallery-main-header blue-border-bottom">
    <h1 class="big-header white-font">PHOTOSHOP <span class="medium-header">GALLERY</span></h1>

</header>

<section id="slide-1" class="homeSlide">
    <div class="bcg"
         data-center="background-position: 50% 0px;"
         data-top-bottom="background-position: 50% -110px;"
         data-anchor-target="#slide-1">
        <div class="hsContainer">
            <!--<div class="hsContent"
            data-center="opacity: 1"
            data-106-top="opacity: 0"
            data-anchor-target="#slide-1 h2">-->
            <!--</div>-->
            <div class="hsContainer3"
                 data-center="background-position: 50% 100%;"
                 @*data-bottom="50% 500px;"*@
                 data-top-bottom="background-position: 50% 0%;"
                 data-anchor-target="#slide-1">

            </div>
            <div class="hsContainer2"
                 data-center="background-position: 50% 0px;"
                 data-top-bottom="background-position: 50% 220px;"
                 data-anchor-target="#slide-1">

            </div>
            <div class="hsContainer1"
                 data-center="background-position: 50% 0px;"
                 data-top-bottom="background-position: 50% 200px;"
                 data-anchor-target="#slide-1">

            </div>

            <section id="gallery">
                @foreach (var contentItem in Model)
                {
                    Html.RenderPartial("GalleryItem", contentItem);

                }
                <div class="pagedList" data-ualm-target="#gallery">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
                </div>
            </section>


           
            <br class="clear-row" />
        </div>

    </div>
</section>
<footer>Test</footer>
@*<script src="~/Scripts/skrollr.min.js"></script>*@
<script>

    //$(document).ready(function(){
    //    skrollr.init({
    //        smoothScrolling: false,
    //        mobileDeceleration: 0.004,
    //        forceHeight:false
    //    });
    //});

</script>



