@model Domain.Entities.MediaContent

<div class="gallery-item">
    <div class="gallery-item-info white-font">
        <h1 class="very-small-header">@Model.Name</h1>
        <span class="blue-font medium-text standard-sans-font">Winston Mandimika</span>
    </div>
    <img src="~/Images/ContentImages/Thumb/@Model.Resource" alt="@Model.Name" />
</div>